<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ActionExample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>ActionExtension.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>ReadItAction.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>ReadText.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>readText.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3EA1CEE91E95520D004CCDFD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3EA1CF021E955228004CCDFD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3EA1CF1E1E955399004CCDFD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3EA1CF301E9553DA004CCDFD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3EA1CF421E9553FC004CCDFD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
